.blocks{
    width: 100px;
    height: 100px;
    margin: 10px;
}

/*#boxHolder{*/
    /*border: solid gray 5px;*/
/*}*/

#one{
    background-color: #c30000;
}

#two{
    background-color: #0000c3;
}

#three{
    background-color: #00c300;
}

#four{
    background-color: #c3c300;
}